@model List<SeniorLearnSystem.Data.Member>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table>
    <thead>
        <tr><td>ID</td><td>First Name</td><td>Last Name</td><td>Email</td><td>Phone #</td><td>Active (?)</td></tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr><td>@m.Id</td><td>@m.FirstName</td><td>@m.LastName</td><td>@m.Email</td><td>@m.Phone</td><td>@m.IsActive.ToString()</td></tr>
        }
    </tbody>
</table>
